<!-- Site Footer-->
<footer class="site-footer">
    <div class="container">
      <div class="row">

        <!-- Contact Info-->
        <div class="col-lg-3 col-md-6">
          <section class="widget widget-light-skin">
            <h3 class="widget-title">Entre em contato conosco</h3>
            <p class="text-white">Telefone: 0800 0001-0001</p>
            <ul class="list-unstyled text-sm text-white">
              <li><span class="opacity-50">Segunda-Sexta:</span>9h - 20h</li>
              <li><span class="opacity-50">Sabado-Domingo:</span>10h - 18h</li>
            </ul>
            <p>
              <a class="navi-link-light" href="#">suporte@angular.com</a>
            </p>
            <a class="social-button shape-circle sb-facebook sb-light-skin"
              href="http://localhost:4200/home-dark-header.html#">
              <i class="socicon-facebook"></i>
            </a>
            <a class="social-button shape-circle sb-twitter sb-light-skin"
              href="http://localhost:4200/home-dark-header.html#">
              <i class="socicon-twitter"></i>
            </a>
            <a class="social-button shape-circle sb-instagram sb-light-skin"
              href="http://localhost:4200/home-dark-header.html#">
              <i class="socicon-instagram"></i>
            </a>
            <a class="social-button shape-circle sb-google-plus sb-light-skin"
              href="http://localhost:4200/home-dark-header.html#">
              <i class="socicon-googleplus"></i>
            </a>
          </section>
        </div>

        <!-- Mobile App Buttons-->
        <div class="col-lg-3 col-md-6">
          <section class="widget widget-light-skin">
            <h3 class="widget-title">Nossos Apps</h3>
            <a class="market-button apple-button mb-light-skin" href="#">
              <span class="mb-subtitle">Baixe na</span>
              <span class="mb-title">App Store</span>
            </a>
            <a class="market-button google-button mb-light-skin" href="#">
              <span class="mb-subtitle">Baixe na</span>
              <span class="mb-title">Google Play</span>
            </a>
          </section>
        </div>

        <!-- About Us-->
        <div class="col-lg-3 col-md-6">
          <section class="widget widget-links widget-light-skin">
            <h3 class="widget-title">Sobre</h3>
            <ul>
              <li>
                <a href="http://localhost:4200/about">Sobre</a>
              </li>
            </ul>
          </section>
        </div>

        <!-- Account / Orders Info-->
        <div class="col-lg-3 col-md-6">
          <section class="widget widget-links widget-light-skin">
            <h3 class="widget-title">Conta &amp; Pedidos</h3>
            <ul>
              <li>
                <a href="http://localhost:4200/my-account">Sua conta</a>
              </li>
              <li>
                <a href="http://localhost:4200/my-account">Pedidos</a>
              </li>
            </ul>
          </section>
        </div>
      </div>
      <hr class="hr-light mt-2 margin-bottom-2x">

      <!-- Copyright-->
      <p class="footer-copyright">
        © All rights reserved. Coded with &nbsp;
        <i class="icon-heart text-danger"></i>
        <a href="http://localhost:4200/" target="_blank"> &nbsp;by Luciano ;D</a>
      </p>
    </div>
</footer>
